<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Sentiment Mapper 1.0 </title>

		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css">
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.10.3/build/cssfonts/cssfonts-min.css">
		<link rel="stylesheet" type = "text/css" href="type.css">

		<script type="text/javascript" src="../polymaps/lib/protovis/protodata.js"></script>
		<script type="text/javascript" src="../polymaps/polymaps.js"></script>
		<script type="text/javascript" src="map-data.js"></script>

	</head>

	<body>

		<div class="pure-u" id="main">
			<div class="pure-g">
				<div class="ku">
					<h1 class="pure-u-1" align="center"> Sentiment Mapper </h1>
				</div>
			</div>
		</div>

		<div class="pure-g">
			<div class="pure-u-4-5">
				<p id="map">
					<script type="text/javascript" src="maptest.js"></script>
					<span id="copy"> &copy; 2010 </span>
				</p>
			</div>

		</div>

	</body>
</html>
