<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sentiment Mapper 1.0 </title>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.10.3/build/cssfonts/cssfonts-min.css">
<link rel="stylesheet" type="text/css" href="type.css">
<link rel="stylesheet" href="960_12_col.css">
<script type="text/javascript" src="../polymaps/lib/protovis/protodata.js"></script>
<script type="text/javascript" src="../polymaps/polymaps.js"></script>
<script type="text/javascript" src="map-data.js"></script>
<a href="http://jquery.com/">jQuery</a>
<script src="jquery-1.10.1.min.js"></script>

  <script>
  $(document).ready(function() {

    $('div.accordionButton').click(function() {
        $('div.accordionContent').slideUp('fast');  
        if(!$(this).next().is(':visible')){
        $(this).next().slideDown('fast');
        }
    });
    
    $("div.accordionContent").hide();


  });​​
  </script>
 
</head>
<div class="container_12">
  <div class="grid_6 prefix_6">
  	<div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
      <a class="pure-menu-heading" href="">Jasty Technology</a>
      <ul>
        <li class="pure-menu-selected"><a href="#">Home</a></li>
        <li><a href="map.html">Map</a></li>
        <li><a href="api.html">API</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="about.html">About</a></li>
      </ul>
    </div>
  </div>
  <div class="l-box">
    <div class="grid_12"> <br>
    	<form class="pure-form">
    	  <input type="text" class="pure-input-rounded">
    	    <button type="submit" class="pure-button">Search</button>
	    </form>
	    <br>
    </div>
 	<div class="ku">
	  <div class="grid_9">
    	<div id="map">
      	  <script type="text/javascript" src="maptest.js"></script>
      	</div>
      </div>
  
  	  <div class="grid_2">
  	  	<p>JQUERY ACCORDION MENU GOES HERE</p>
  	  </div>
    </div>      
  </div>
  <div class="grid_12">
  	<p align="center">FOOTER</p>
  </div>
  
</div>

</body>
</html>