@import url("../polymaps/lib/colorbrewer/colorbrewer.css");
@import url("../polymaps/example/example.css");
@import url(http://fonts.googleapis.com/css?family=Lato:100,200,400);

#map {
	background: #E6E6E6;
	
}

.maptype {
	
}
.layer path {
	fill: none;
	stroke: #aaa;
	stroke-width: .25px;
	vector-effect: non-scaling-stroke;
}

#state path {
	stroke: #fff;
	stroke-width: 1.5px;
	vector-effect: non-scaling-stroke;
}


body {
    	background: black;
    	font-family: Lato;
    	font-weight: 400;
}
 
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

p {
    line-height: 1.6em;
    color:#E6E6E6;
}

.l-box {
    padding: 1%;
}

.ku {
	text-align: center;
}

.ku h1 {
	font-size: 700%;
	margin: 0;
	padding: 2%;
	color: #1f8dd6;
	font-weight: 100;
}

.ku h2 {
	font-weight: 100;
	font-size: 500%;
	margin: 0.02em 0 0.08em;
	color: #666;
}

.ku-cta pre {
  padding: 1%;
  font-size: 100%;
}
.click{
  cursor:pointer;
}

.expand{
  display:none;
  position: relative;
}

h3 {
  font-size: 1.47em;
  font-weight: normal;
  color:#CCCCCC;
}


.k-box{
	margin-top: .2em;
}
.pure-button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #1f8dd6;
}
