@import url("../polymaps/lib/colorbrewer/colorbrewer.css");
@import url("../polymaps/example/example.css");
@import url(http://fonts.googleapis.com/css?family=Lato:100,200,400);

#map {
	background: #E6E6E6;
	
}

.maptype {
	
}
.layer path {
	fill: none;
	stroke: #aaa;
	stroke-width: .25px;
	vector-effect: non-scaling-stroke;
}

#state path {
	stroke: #fff;
	stroke-width: 1.5px;
	vector-effect: non-scaling-stroke;
}

#copy {
	color: #000;
	opacity: .5;
}

#copy a {
	color: #000;
}
body {
    	background: black;
    	font-family: Lato;
    	font-weight: 400;
}
 
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

p {
    line-height: 1.6em;
    color:#E6E6E6;
}

.l-box {
    padding: 1.3em;
}
.ku {
	text-align: center;
}
.ku h1 {
	font-size: 700%;
	margin: 0;
	padding: 3%;
	color: #1f8dd6;
	font-weight: 100;
}
.ku h2 {
	font-weight: 100;
	font-size: 500%;
	margin: 0.02em 0 0.8em;
	color: #666;
}

h3 {
  font-size: 1.47em;
  font-weight: normal;
  color:#CCCCCC;
}

.ku-cta pre {
	padding: 1em;
	font-size: 100%;
}

